* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  color: #FFFFFF;
  background-color: #1F1F1F;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #4298B3;
  position: fixed;
}

.header-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr 80px;
  grid-template-columns: 80px 1fr 80px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 8px #FFFFFF;
          box-shadow: 0 0 8px #FFFFFF;
}

.header-nav-logo {
  display: inline-block;
  background-image: url("../assets/anchorlogo.svg");
  background-size: cover;
  background-postion: center;
  background-repeat: none;
  width: 50px;
  height: 50px;
  margin-left: 1.2rem;
}

.header-nav-hamburger-menu {
  width: 50px;
  height: 50px;
  position: relative;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 1.2rem;
}

#menu {
  visibility: hidden;
}

/*hamburguer*/
label,
label::before,
label::after {
  position: absolute;
  width: 35px;
  height: 5px;
  background: #FFFFFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

label {
  cursor: pointer;
  top: 45%;
  left: 14%;
}

label::before {
  content: "";
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

label::after {
  content: "";
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

/* Animate when checked*/
#menu:checked + label {
  width: 0px;
  margin-left: -10px;
}

#menu:checked + label::before {
  -webkit-transform: rotate(45deg) translate(0px);
          transform: rotate(45deg) translate(0px);
  margin-left: 10px;
}

#menu:checked + label::after {
  -webkit-transform: rotate(-45deg) translate(0px);
          transform: rotate(-45deg) translate(0px);
  margin-left: 10px;
}

.header-nav-name {
  display: none;
}

.header-nav-hamburger-menu-open {
  display: none;
}