.main-nftgallery, .main-portfolio, .main-skills, .main-aboutme {
  width: 100%;
  height: auto;
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.main-nftgallery-container, .main-portfolio-container, .main-skills-info ul, .main-skills-info, .main-aboutme-info {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  color: #FFFFFF;
  background-color: #1F1F1F;
}

.header {
  width: 100%;
  height: 100px;
  margin-bottom: 60px;
  position: fixed;
  z-index: 2;
}

.header-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 1fr 80px;
  grid-template-columns: 80px 1fr 80px;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4298B3;
  border-bottom: 1px solid #FFFFFF;
  position: relative;
}

.header-nav-logo {
  display: inline-block;
  background-image: url("../assets/anchorlogo.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-left: 1.2rem;
}

.header-nav-hamburger-menu {
  width: 50px;
  height: 50px;
  position: relative;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 1.2rem;
}

#menu {
  visibility: hidden;
}

/*hamburguer*/
label,
label::before,
label::after {
  position: absolute;
  width: 35px;
  height: 5px;
  background: #FFFFFF;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

label {
  cursor: pointer;
  top: 45%;
  left: 14%;
}

label::before {
  content: "";
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

label::after {
  content: "";
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

/* Animate when checked*/
#menu:checked + label {
  width: 0px;
  margin-left: -10px;
}

#menu:checked + label::before {
  -webkit-transform: rotate(45deg) translate(0px);
          transform: rotate(45deg) translate(0px);
  margin-left: 10px;
}

#menu:checked + label::after {
  -webkit-transform: rotate(-45deg) translate(0px);
          transform: rotate(-45deg) translate(0px);
  margin-left: 10px;
}

.header-nav-name {
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  grid-column: 2;
  text-align: center;
  letter-spacing: 0.2rem;
}

.header-nav-name h2 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
}

.header-nav-name p {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
}

.header-nav-hamburger-menu-open {
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  height: auto;
  background-color: #4298B3;
  list-style: none;
}

.show {
  display: inline;
}

.header-nav-hamburger-menu-open li {
  padding: 15px;
  margin: auto;
  border-bottom: 0.5px solid #FFFFFF;
  text-align: center;
}

.header-nav-hamburger-menu-open li a {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px 100px;
}

.header-nav-hamburger-menu-open li a:hover {
  color: #1F1F1F;
}

.main {
  width: 100%;
  height: auto;
}

.main-presentation {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: auto;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  padding-top: 60px;
  margin-bottom: 12px;
}

.main-presentation-info {
  width: 80%;
  height: auto;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-presentation-info-title {
  width: 100%;
  width: 100%;
  max-width: 800px;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  line-height: 5rem;
  margin: 50px 0;
}

.main-presentation-info-subtitle {
  width: 100%;
  width: 100%;
  max-width: 800px;
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  line-height: 2.4rem;
  margin: 30px 0px;
}

.main-presentation-info-location {
  display: -ms-grid;
  display: grid;
  width: 190px;
  height: 30px;
  -ms-grid-columns: 50px 140px;
  grid-template-columns: 50px 140px;
  -ms-grid-rows: 30px;
  grid-template-rows: 30px;
  margin-bottom: 20px;
  margin-left: -10px;
}

.main-presentation-info-location > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main-presentation-info-location > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.main-presentation-info-location__logo {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  display: inline-block;
  background-image: url("../assets/locations.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  -ms-grid-row-align: center;
      align-self: center;
}

.main-presentation-info-location__sub {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 2px;
}

.main-presentation-info-location__place {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  font-size: 1.8rem;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  width: 150px;
  margin-bottom: 8px;
}

.main-presentation-image {
  width: 100%;
  height: 480px;
  margin-top: 100px;
  position: relative;
}

.main-presentation-image__back {
  display: inline-block;
  background-image: url("../assets/mountein-up.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.main-presentation-image__back > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.main-presentation-image__back > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.main-presentation-image__back > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.main-presentation-image__back > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.main-presentation-image__back > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.main-presentation-image__back > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.main-presentation-image__back > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.main-presentation-image__back > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.main-presentation-image__back > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.main-presentation-image__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 15px;
  margin-right: 15px;
}

.main-presentation-image__media div {
  width: 50px;
  height: 50px;
  border: 1.5px solid #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-presentation-image__media div:hover {
  background-color: #4298B3;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border: 1.5px solid #4298B3;
}

.main-presentation-image__media_github {
  display: inline-block;
  background-image: url("../assets/github.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
}

.main-presentation-image__media_twitter {
  display: inline-block;
  background-image: url("../assets/twitter.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 30px;
}

.main-presentation-image__media_linkendin {
  display: inline-block;
  background-image: url("../assets/linkedin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 35px;
  height: 30px;
}

.main-aboutme-info h2, .main-skills-info h2 {
  width: 100%;
  max-width: 300px;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  line-height: 5rem;
  font-weight: bold;
  color: #4298B3;
  margin-bottom: 24px;
}

.main-aboutme-info p, .main-skills-info p {
  width: 100%;
  max-width: 800px;
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  line-height: 2.4rem;
  margin: 15px 0;
  margin-bottom: 20px;
}

.main-aboutme-info a {
  width: 100%;
  max-width: 700px;
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  line-height: 2.4rem;
  color: #FFFFFF;
}

.main-aboutme-info a:hover {
  color: #4298B3;
}

.main-skills-info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 400px;
}

.main-skills-info ul {
  width: 100%;
  max-width: 580px;
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  line-height: 2.4rem;
}

.main-skills-info ul li {
  margin: 8px 20px;
}

.main-portfolio h2 {
  width: 100%;
  max-width: 300px;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  line-height: 5rem;
  font-weight: bold;
  color: #4298B3;
  margin-bottom: 30px;
}

.main-portfolio-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  height: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.main-portfolio-card-img {
  width: 100%;
  max-width: 580px;
  height: 240px;
  -ms-grid-row: 1;
  grid-row: 1;
  border-radius: 5px;
}

.main-portfolio-card-img-port {
  display: inline-block;
  background-image: url("../assetspf/interactive-price.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-portfolio-card-img-porttwo {
  display: inline-block;
  background-image: url("../assetspf/fylopage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-portfolio-card-img span {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.main-portfolio-card-info {
  width: 100%;
  height: auto;
  -ms-grid-row: 2;
  grid-row: 2;
  display: -ms-grid;
  display: grid;
      grid-template: repeat(1fr, 1fr, 1fr)/repeat(1fr, 1fr, 1fr);
  gap: 5px 5px;
}

.main-portfolio-card-info h3 {
  width: 100%;
  max-width: 500px;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  line-height: 4rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.main-portfolio-card-info__intro {
  width: 100%;
  max-width: 500px;
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  line-height: 2.4rem;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.main-portfolio-card-info__details {
      grid-template: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (30px)[30px];
  -ms-grid-columns: (30px)[30px];
      grid-template: repeat(30px, 30px)/repeat(30px, 30px);
  margin-top: 20px;
}

.main-portfolio-card-info-container {
  width: 50px;
  height: 50px;
  border: 1.5px solid #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-portfolio-card-info__details__online {
  display: inline-block;
  background-image: url("../assets/online.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.main-portfolio-card-info__details__repo {
  display: inline-block;
  background-image: url("../assets/repository.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.main-portfolio-card-info-container:hover {
  background-color: #4298B3;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border: 1.5px solid #4298B3;
}

.main-portfolio-card-info-links {
  max-width: 150px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 24px;
}

.main-portfolio-card-info__details .p {
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  margin-bottom: 5px;
  text-align: center;
}

.main-portfolio-card-info__details .ptwo {
  width: 100%;
  max-width: 500px;
  font-size: 2.4rem;
  font-family: "Oswald", sans-serif;
  line-height: 2.4rem;
  font-weight: bold;
  text-align: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-nftgallery-container h2 {
  width: 100%;
  max-width: 300px;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  line-height: 5rem;
  font-weight: bold;
  color: #4298B3;
  margin-bottom: 24px;
}

.main-nftgallery-container p {
  width: 100%;
  max-width: 1000px;
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  line-height: 2.4rem;
  margin-bottom: 20px;
}

.main-nftgallery-container p a {
  width: 100%;
  max-width: 700px;
  font-size: 1.8rem;
  font-family: "Karla", sans-serif;
  line-height: 2.4rem;
  color: #FFFFFF;
}

.main-nftgallery-container p a:hover {
  color: #4298B3;
}

.main-nftgallery-containerart {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-nftgallery-picture {
  width: 100%;
  max-width: 500px;
  height: 300px;
  margin-bottom: 40px;
}

.main-nftgallery-picture img {
  width: 100%;
  max-width: 580px;
  height: 240px;
  margin-bottom: 15px;
  margin-top: 28px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.main-nftgallery-picture h3 {
  width: 100%;
  max-width: 580px;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  line-height: 5rem;
  text-align: center;
}

.main-nftgallery-picture h3 a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #1F1F1F;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-credits {
  width: 90%;
  border-top: 1px solid #4298B3;
  margin: 0 auto;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-credits p {
  width: 100%;
  max-width: 300px;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  line-height: 2.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 5px;
}

@media (min-width: 700px) {
  .main-presentation-info-title {
    font-size: 4.4rem;
    max-width: 700px;
    line-height: 5.5rem;
  }

  .main-aboutme-info h2, .main-skills-info h2, .main-portfolio-container h2, .main-nftgallery-container h2 {
    font-size: 4.4rem;
  }

  .main-portfolio-card-info-links, .main-portfolio-card-info-container {
    -ms-grid-column-align: normal;
        justify-self: normal;
  }

  .main-portfolio-card-info__details .p, .main-portfolio-card-info__details .ptwo {
    text-align: start;
    -ms-grid-column-align: normal;
        justify-self: normal;
  }

  .main-portfolio-card {
    -ms-grid-rows: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .main-portfolio-card-img span {
    height: 120%;
  }

  .main-nftgallery-picture img {
    height: 300px;
  }

  .footer {
    padding-top: 25px;
  }
}
@media (min-width: 980px) {
  .header {
    width: 70px;
    height: 100vh;
    margin-bottom: 0;
  }

  .header-nav {
    width: 70px;
    height: 100vh;
    -ms-grid-rows: 10vh 80vh 10vh;
    grid-template-rows: 10vh 80vh 10vh;
    -ms-grid-columns: 70px;
    grid-template-columns: 70px;
    border-right: 1px solid #FFFFFF;
    border-bottom: none;
  }

  .header-nav > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .header-nav > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }

  .header-nav > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }

  .header-nav-logo {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 0;
  }

  .header-nav-name {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 1;
    grid-column: 1;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    -ms-grid-column-align: center;
        justify-self: center;
  }

  .header-nav-hamburger-menu {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-right: 0;
  }

  .main-presentation {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 100vh;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding-top: 0;
    padding-left: 10%;
  }

  .main-presentation-info {
    -ms-grid-column: 1;
    grid-column: 1;
    height: 100vh;
  }

  .main-presentation-image {
    width: 100%;
    height: 100vh;
    margin-top: 0;
    -ms-grid-column: 2;
    grid-column: 2;
  }

  .main-presentation-info-title {
    max-width: 390px;
  }

  .main-presentation-info-subtitle {
    max-width: 360px;
  }

  .main-aboutme, .main-skills, .main-portfolio, .main-nftgallery {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .main-portfolio-container, .main-nftgallery-container {
    width: 90%;
  }

  .container-main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 90px;
  }

  .container-maintwo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding-left: 90px;
  }

  .main-portfolio-card {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 0;
    grid-template-rows: 0;
    margin-bottom: 50px;
  }

  .main-portfolio-card > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .main-portfolio-card > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .main-portfolio-card-info {
    -ms-grid-column: 2;
    grid-column: 2;
    padding-left: 3rem;
  }

  .main-portfolio-card-info h3 {
    margin-top: 0;
  }

  .post {
    -ms-grid-column: 2;
    grid-column: 2;
  }

  .post-two {
    -ms-grid-column: 1;
    grid-column: 1;
    padding-left: 0;
  }

  .footer {
    width: 100%;
    padding-left: 90px;
  }
}